body{
	
	background-image:url('images/fundo.png');
	background-repeat:no-repeat;
	background-size: 100% 100%;
	font-family: 'Barlow Condensed', sans-serif;
	
}

.c1{
	

	margin-top:20;
	
	/*
	azul = #3333cc
	rosa = #ff0066
	*/
	
}

.c1-l1{
	
	width:290px;
	margin-top:10;
	
}

.c1-l2{
	
	width:290px;
	margin-top:10;
	margin-left:5;
	
}

.txtnome{
	
	color:#ffffff;
	
}

.c2{
	
	margin-top:20;
	margin-left:20;
	
}

.txtquestao{
	
	margin-top:5;
	margin-left:5;
	
}

.c2-l1{
	
	background-color:#ffffff;
	
}

.bot{
	
	margin-right:20;
	
}


.txc1{
	
	margin-top:10;
	
}

.txc2{
	
	font-size:100px;
	
}

.dropdown-menu{
	
	background-color:#66ff66
	
}

.dropdown-item{
	
	color:#000000;
	
}

.dropdown-divider{
	
	color:#000000;
	background-color:#000000;
	
}